.left_pane {
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(var(--foreground), 0.18);
  border-radius: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.amt_container {
  display: flex;
  gap: 12px;
}

.amt_container > span {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  background-color: rgb(var(--foreground), 0.18);
  padding: 1rem;
  border-radius: 1rem;
}

.amt_container .amount {
  font-size: 2rem;
  font-weight: 600;
}

.amt_container .expense {
  color: #bb5a5a;
}

.amt_container .income {
  color: #568958;
}

@media screen and (max-width: 480px) {
  .left_pane {
    height: calc(100vh - 120px);
  }

  .amt_container {
    flex-direction: column;
  }

  .amt_container h2,
  .amt_container .amount {
    font-size: 18px;
  }
}
