:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
}

html,
main,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-items {
  min-height: 100px;
  padding: 0.5rem;
  width: 100%;
  animation: loadingAnimation 1.5s infinite;
}

.loading-items > span {
  background-color: rgb(var(--foreground), 0.18);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: block;
}

#pie-chart {
  border-radius: 5px;
}

#pie-chart.loading {
  height: 100%;
  display: block;
  width: 100%;
  animation: loadingAnimation 0.5s infinite;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 2rem;
    color: rgb(204, 53, 53);
  }
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
  background-color: #6a2525;
  box-shadow: 0 0 5px 0 rgb(var(--foreground));
  color: rgb(var(--foreground));
  font-size: 1rem;
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #8c2f2f;
    box-shadow: 0 0 10px 0 rgb(var(--foreground));
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10, 10, 10;
    --foreground: 237, 237, 237;
  }

  html {
    color-scheme: dark;
  }
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
