.card {
  display: flex;
  flex-direction: row;
  background-color: rgb(var(--foreground));
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(var(--background), 0.1);
  margin: 12px 0;
  width: 100%;
}

.image {
  position: relative;
  align-self: stretch;
  width: 130px;
  height: 130px;
}

.details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  max-height: 130px;
}

.category {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #333;
  display: flex;
  gap: 0.5rem;
}

.date,
.amount,
.description,
.createdBy {
  font-size: 0.9rem;
  color: #555;
}

.acc_info {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(var(--foreground), 0.4);
  color: white;
  padding: 0.5rem;
  border-radius: 0 8px 0 8px;
}

.amount {
  min-width: 150px;
  position: relative;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--background), 0.8);
}

.amount p:first-child {
  font-size: 36px;
  color: skyblue;
}

.amount p {
  font-size: 20px;
  color: rgb(var(--foreground));
}

.description {
  font-style: italic;
  color: #777;
}

.createdBy {
  text-align: right;
  font-size: 0.8rem;
  color: #999;
}

.chip {
  background-color: #a8a8a8;
  color: #333;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column-reverse;
  }

  .image {
    width: 100%;
    height: 150px;
  }

  .details {
    padding: 1rem;
    max-height: 100%;
    flex-direction: row;
  }

  .chip {
    align-self: flex-start;
  }

  .category {
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
  }

  .description {
    flex: 1;
  }

  .amount {
    min-width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .date,
  .amount,
  .description,
  .createdBy {
    font-size: 0.9rem;
    color: rgb(var(--background));
  }

  .amount p:first-child {
    color: #333;
  }

  .category {
    color: skyblue;
  }
}
